html {
  
}


.search-submit {
  background: #007E9A;
  color:#fff;
  border: 3px solidrgb(0, 0, 0);
  border-radius:20px;
  box-shadow:5px5px5pxrgb(0, 0, 0);
  text-shadow:none;
  margin-left: 10px;
  
}


.header {
  font-family: Share Tech Mono;
  background-color: #007E9A;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  justify-content: center;  
  padding: 30px ;
  margin: 10px auto;
  
}

.subhead {
margin: 40px;
}

h1 {
  font-size: 40px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Share Tech Mono;
} 


img  {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.container {
height: 300px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;

}



.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  
  
}


.footer p{
  font-family: Share Tech Mono;
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.super {
  display: flex;
  flex-direction: column-reverse;
  height: 75px;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
   
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

p, #superhero-body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Share Tech Mono;
} 

.search-submit .super:hover {
background-color: #007e9abf;
}

.search-submit:active {
  background-color: #007E9A;
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}